<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793740802496-1sbnl4l51894knftuvurjr9ch7lst8hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793740802496-1sbnl4l51894knftuvurjr9ch7lst8hf</string>
	<key>API_KEY</key>
	<string>AIzaSyDYRvYPl5apLfO2WEpspSk1LhsE7Sicp-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>793740802496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yap.ceo</string>
	<key>PROJECT_ID</key>
	<string>yapceo-5cde9</string>
	<key>STORAGE_BUCKET</key>
	<string>yapceo-5cde9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793740802496:ios:60c7c03a7e81129fcd7025</string>
</dict>
</plist>